body{
    background-image:url('bg-pattern.png');
    background-attachment:fixed;
    margin:0px;
}

h1, h2{
    color:black;
    font-size: 30px;
    font-family: 'Anton', sans-serif;
    text-align:center;
}

h1{
    font-size: 40px;
}

p{
    color:black;
    font-family: 'IBM Plex Sans Thai Looped', sans-serif;
    text-align:center;
    font-size: 18px;
}
/*text settings*/



#menu{
    display:flex;
    justify-content:center;
    justify-content: space-evenly;

    font-family: 'Anton', sans-serif;
    font-size: 20px;

    background-color:rgb(134, 209, 231);
    border:3px solid rgb(134, 209, 231);
    margin-left:auto;
    margin-right:auto;
    width:65%;
}
/*this is the links menu at the top of the page*/

.center-img{
    margin-left:auto;
    margin-right:auto;
    display:block;
}
/*this is to centre the photo of myself on the first page*/

.contact{
    background-color:rgb(134, 209, 231);
    border:3px solid rgb(134, 209, 231);
    margin-left:auto;
    margin-right:auto;
    width:65%;
}
/*this is the contacts box at the bottom*/

.icon{
    height:76px;
    width:76px;
    display:inline-block;
}
/*social media links*/

.flex-center{
    display:flex;
    justify-content:center;
}
/*this is specifically so that the social media icons in the contacts box are centred*/

.pic-size{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    display:block;
}
/*keeps the larger photos roughly the same size as the rest of them*/


.container {
    position: center;
    width:65%;
    background-color:rgba(255, 245, 238, 0.897);
    margin-left:auto;
    margin-right:auto;
    padding:20px;
  }

  /*this is for the white box behind the main contents of the page*/